# Shared
TELEGRAM_BOT_TOKEN=your_bot_token
API_ADMIN_KEY=dev_admin

# API
DATABASE_URL="file:./dev.db"
JWT_SECRET=dev_secret
PORT=3001

# Bot
API_BASE_URL=http://localhost:3001
WEBAPP_URL=http://localhost:5173

# Web
VITE_API_BASE_URL=http://localhost:3001
